/************
    Reset
 ************/
body {
	font: 12px/1.4 SimSun sans-serif;
}
body,h1,h2,h3,p,ul {
	margin: 0;
}
button,input {
	padding: 0;
	border: none;
}
/*盒模型*/
*,*:before,*:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/*链接*/
a {
	text-decoration: none;
	color: #fff;
}
/*列表*/
ul {
	list-style: none;
	padding: 0;
}

/************
    公共样式
 ************/
.clearfix:after {
 	content  : '.';
 	display  : block;
 	height   : 0;
 	overflow : hidden;
 	clear    : both;
}
.git-icon {
	position: absolute;
}
.git-icon img {
	vertical-align: bottom;
}
.nav li {
	display: inline-block;
}
.main {
	background: #eee;
	height: 1525px;
}
.fix-width-center {
	width: 980px;
	margin: 0 auto;
}
.fr {
	float: right;
}
.fl {
	float: left;
}
.pt20 {
	padding-top: 20px;
}
.fs0 {
	font-size: 0;
}
.mt50 {
	margin-top: 50px;
}
.pb25 {
	padding-bottom: 25px;
}
.pt100 {
	padding-top: 100px;
}
.center {
	position: absolute;
	left: 50%;
}
/************
    头部
 ************/
 .header {
 	position: relative;
 	height: 80px;
 	background: #522a5c;
 }
 /*头部导航部分*/
 .h-nav-wrap {
 	height: 100%;
 }
 .logo {
 	float: left;
 	margin-top: 47px;
 	color: #fff;
 	font-size: 20px;
 }
 .h-nav {
 	float: right;
 	margin-top: 54px;
 }
 .h-nav li {
 	margin-left: 28px;
 	font-size: 14px;
 }
/*git-icon部分*/
 .h-git-icon {
 	position : absolute;
 	bottom   : 0;
 	right    : 10px;
 }
/************
    主要内容
 ************/
/**
 *首页
 */

/*背景图部分*/
.bg {
	position: relative;
	height: 525px;
	background-image: url('../img/banner-bg.jpg');
	color: #fff;
}
.bg-block {
	position: absolute;
	bottom: 0;
	right: 110px;
	height: 120px;
	width: 360px;
	padding: 10px 10px 30px;
    background: linear-gradient(
 	to bottom, rgba(255, 255, 255, 0.7) 0%,
 	rgba(255, 255, 255, 0.5) 75%,
 	rgba(255, 255, 255, 0) 100%);
}
.bg-block h2 {
	text-align: right;
	margin-bottom: 12px;
	font-size: 14px;
}
.bg-block p {
	text-indent: 27px;
}
/*博文部分*/
.blog-list-wrap {
	height: 480px;
	padding-top: 11px;
}
.blog-list {
	margin-right: -10px;
	font-size: 0;
}
.blog-list li {
	margin-right: 10px;
	width: 320px;
	height:360px;
	padding: 12px 12px 0;
	display: inline-block;
	background: #fff;
	font-size: 12px;
}
.blog-list div {
	height: 180px;
	margin-bottom: 15px;
}
.blog-bg-1 {
	background-image: url('../img/p1.png');
}
.blog-bg-2 {
	background-image: url('../img/p2.png');
}
.blog-bg-3 {
	background-image: url('../img/p3.png');
}
.blog-list p {
	text-indent: 25px;
}
/*自我介绍部分*/
.intro-wrap {
	height: 520px;
	background: #fff;
}
.head {
	position: relative;
	top: -50px;
	margin: 0 auto;
	height: 80px;
	width: 80px;
	border-radius: 48px;
	background-image: url('../img/head.png');
}
.intro-wrap h1 {
	text-align : center;
	margin-bottom: 41px;
	font: 20px 'Century Gothic';
}
.intro-wrap p {
	margin: 0 auto;
	width: 600px;
	font-size: 14px;
	text-indent: 30px;
}
/**
 * 文章
 */
/*主要内容*/
.container {
	width: 72%;
	margin-right: 1%
}
.article {
	position: relative;
	margin-bottom: 10px;
	height: 369px;
	background: #fff;
	padding: 23px 20px 20px;
}
.article-content {
	margin-bottom: 12px;
}
.article-content h2 {
	font-size: 16px;
	color: #a660b7;
	margin-bottom: 11px;
}
.article-content h3 {
	font-size: 12px;
	color: #666;
	margin-bottom: 16px;
}
.article-content p {
	text-align: right;
	text-align-last: left;
	margin-left: 17px;
	text-indent: 13px;
}
.article-push-time {
	color: #999;
	text-align: right;
}
.article-side-nav {
	position: absolute;
	top: 20px;
	left: -50px;
	width: 50px;
}
.article-side-nav .tag,.date {
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #fff;
}
.article-side-nav .tag {
	background: #522a5c;
}
.article-side-nav .date {
	background: #a660b7;
}
.index {
	text-align: center;
	font-size: 0;
}
.index div {
	display: inline-block;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #fff;
	padding: 0 15px;
	font-size: 12px;
	margin-left: 11px;
	cursor: pointer;
}
.index a {
	color: #000;
}
.index div.current {
	background: #a660b7;
}
.index div.current a {
	color: #fff;
}
/*侧边栏*/
.sidebar {
	width: 27%;
}
.sidebar>div:nth-child(n) {
	margin-bottom: 10px;
	background: #fff;
}
.search {
	padding: 20px;
}
.search-block {
	position: relative;
	border: 1px solid #ddd;
	height: 42px;
	padding-left: 38px;
}
.search-icon {
	position: absolute;
	top: 6px;
	left: 8px;
	width: 30px;
	height: 30px;
	background-image: url('../img/s-icon.png');
}
.search-block input,button {
	height: 100%;
	outline: none;
}
.search-block input {
	width: 70%;
}
.search-block button {
	width: 30%;
	float: right;
	background: #ddd;
	color: #fff;
}
.tag-list {
	color: #666;
}
.tag-list div:first-child {
	border-top: 1px solid #ddd;
}
.tag-list div:nth-child(n) {
	height: 50px;
	border-left: 4px solid #dfc6e6;
	border-bottom: 1px solid #ddd;
	padding: 18px;
}
.tag-list div:nth-child(n):hover {
	border-left: 4px solid #522a5c;
}
.cal {
	padding: 23px 18px 26px;
}
.date-select {
	margin-bottom: 20px;
	color: #773c88;
	text-align: center;
}
.date-select .pre {
	float: left;
	background: url('../img/pre-icon.png');
}
.date-select .next {
	float: right;
	background: url('../img/next-icon.png');
}
.date-select a {
	width: 7px;
	height: 13px;
}
table {
	color: #999;
}
th,td {
	padding: 6px 8px;
	text-align: center;
}
td.current {
	background: #773c88;
	color: #fff;
}
.tag-cloud {
	padding: 13px 17px 32px;
	color: #773c88;
}
.tag-cloud div {
	margin-bottom: 20px;
	color: #666;
	font-size: 14px;
}
.tag-cloud span {
	margin-left: 5px;
}
.tag-cloud span:nth-child(2) {
	font-size: 30px;
}
.tag-cloud span:nth-child(3) {
	font-size: 16px;
}
.tag-cloud span:nth-child(6) {
	font-size: 24px;
}
.tag-cloud span:nth-child(9) {
	font-size: 17px;
}
.tag-cloud span:nth-child(13) {
	font-size: 22px;
}
.tag-cloud span:nth-child(14) {
	font-size: 16px;
}

/**
 * 作品
 */
/*主要内容*/
.tab-menu>span {
	padding: 15px 20px 20px;
	border-top: 4px solid #dfc6e6;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 14px;
}
.tab-menu .active {
	border-bottom: none;
}
.tab-menu .active:nth-child(2) {
	border-top: 4px solid #522a5c;
}
.tab-menu .active:nth-child(3) {
	border-top: 4px solid #5900b2;
}
.tab-menu .active:nth-child(4) {
	border-top: 4px solid #8c2300;
}
.tab-menu .active:nth-child(5) {
	border-top: 4px solid #d9a300;
}

.works-menu {
	background: #fff;
	padding: 20px 0 0 20px;
	margin-bottom: 10px;
	color: #fff;
}
.works-menu>div {
	display: inline-block;
	font-size: 14px;
	margin-right: 5px;
}
.works-l {
	width: 330px;
}
.works-c, .works-r {
	width: 160px;
	vertical-align: top;
}
.works-l .small-block {
	width: 160px;
	margin-right: 3px;
}
.works-menu>div>div {
	margin-bottom: 10px;
}
.works-l>div>div {
	margin-bottom: 10px;
}
.works-info {
	position: relative;
	margin-top: -5px;
	padding: 12px 0 19px 50px;
}
.works-letter {
	position: absolute;
	top: 12px;
	left: 9px;
	width: 30px;
	height: 30px;
	border: 1px solid #fff;
	border-radius: 30px;
	line-height: 30px;
	text-align: center;
}
.bg-a {
	background: #d9a300;
}
.bg-j {
	background: #522a5c;
}
.bg-f {
	background: #8c2300;
}
.bg-u {
	background: #5900b2;
}
.work-letter {
	position: absolute;
	top: 10px;
	left: 5px;
	width: 30px;
	height: 30px;
	border: 1px solid #999;
	border-radius: 20px;
	text-align: center;
	line-height: 30px;
}

.more-container {
	height: 50px;
	background: #fff;
}
.more {
	text-align: center;
	line-height: 50px;
}
.more-icon {
	vertical-align: middle;
	display: inline-block;
	margin-right: 12px;
	height: 18px;
	width: 20px;
	background-image: url(../img/more-icon.png);
}
.more-txt {
	color: #666;
}
/*侧边栏*/
.pop-rank-container {
	padding: 20px 0 42px 12px;
	background: #fff;
}
.pop-txt {
	margin-bottom: 26px;
	color: #666;
	font-size: 16px;
}
.pop-rank>div {
	margin-bottom: 12px;
}
.rank-num, .rank-progress-bar, .rank-name {
	display: inline-block;
	margin-right: 12px;
}
.rank-num {
	width: 17px;
	height: 17px;
	border-radius: 17px;
	background: #533a5c;
	color: #fff;
	line-height: 19px;
	text-align: center;
	font-size: 12px;
}
.rank-progress-bar {
	width: 102px;
	height: 18px;
	border: 1px solid #000;
	vertical-align: bottom;
}
.pop-rank .rank-progress-bar div {
	background: #533a5c;
	height: 100%;
}
.pop-rank div:nth-child(1) .rank-progress-bar div {
	width: 100%;
}
.pop-rank div:nth-child(2) .rank-progress-bar div {
	width: 85%;
}
.pop-rank div:nth-child(3) .rank-progress-bar div {
	width: 65%;
}
.pop-rank div:nth-child(4) .rank-progress-bar div {
	width: 41%;
}
.pop-rank div:nth-child(5) .rank-progress-bar div {
	width: 26%;
}
.rank-name {
	font-size: 12px;
}
/**
 * 关于
 */
.about {
	position: relative;
	background: #fff;
	height: 100%;
}
.central-line {
	top: 0;
	margin-left: -2px;
	width: 4px;
	height: 100%;
	background: #eee;
}
.intro-head {
	top: -70px;
	margin-left: -90px;
	width: 180px;
	height: 180px;
	border: 10px solid #eee;
	border-radius: 90px;
	background: url('../img/b-head.png');
}
.intro-connect, .intro-edu, .intro-company {
	margin-left: -55px;
	height: 110px;
	width: 110px;
	border-radius: 54px;
	border: 5px solid #eee;
}
.intro-connect {
	top: 270px;
	background-image: url('../img/info-1.png');
}
.intro-edu {
	top: 488px;
	background-image: url('../img/info-2.png');
}
.intro-company {
	top: 830px;
	background-image: url('../img/info-3.png');
}
.date-info {
	margin-left: -35px;
	width: 70px;
	height: 33px;
	border: 5px solid #eee;
	border-radius: 22px;
	background: #fff;
	text-align: center;
	line-height: 33px;
}
.date-1 {
	top : 625px;
}
.date-2 {
	top : 694px;
}
.date-3 {
	top : 762px;
}
.date-4 {
	top : 960px;
}
.date-5 {
	top : 1031px;
}
.intro-txt {
	position: absolute;
	top: 134px;
	left: 300px;
}
.intro-txt h1 {
	display: inline-block;
}
.intro-txt>div>div {
	display: inline-block;
	vertical-align: top;
}
.intro-self-txt {
	margin-bottom: 180px;
}
.intro-connect-txt {
	margin-bottom: 188px;
}
.intro-edu-txt {
	margin-bottom: 90px;
}

.intro-self-txt div {
	width: 310px;
}
.intro-self-txt h1 {
	margin-right: 110px;
}
.intro-connect-txt h1 {
	margin-right: 172px;
}
.intro-edu-txt h1 {
	margin-right: 178px;
}
.intro-work-txt h1 {
	margin-right: 180px;
}
.intro-self-txt,.intro-connect-txt div>p {
	line-height: 1.5;
}
.intro-edu-txt div>p {
	margin-bottom: 60px;
}
.intro-work-txt div>p {
	margin-bottom: 50px;
}
 /************
    底部
 ************/
 .footer {
 	position: relative;
 	height: 395px;
 	background: #000;
 	color: #fff;
 }
/*底部主导航部分*/
 .f-nav-wrap {
  	height: 35px;
 	border-bottom: 1px solid #333;
 	text-align:center;
 	line-height: 35px;
 	margin-bottom: 43px;
 }
 .f-nav {
 	display: inline-block;
 }
 .f-nav li {
 	margin-left: 22px;
 	font-size: 12px;
}
/*底部友情链接部分*/
.friend-link-wrap {
	margin-left: 140px;
}
.link-list {
	display: inline-block;
	margin-right: 151px;
	text-align: left;
	font-size: 12px;
}
.link-list li {
 	margin-bottom: 12px;
}
.link-list li:first-child {
 	margin-bottom: 31px;
 	color: #ccc;
}
.link-list a:hover {
 	text-decoration: underline;
 }
/*底部git-icon部分*/
.copyright {
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
}
.f-git-icon {
	bottom: 0;
	left: 50%;
	margin-left: -15px;
}





